Visa_requirements_for_Palestinian_citizens

Visa requirements for Palestinian citizens, are administrative entry restrictions by the authorities of other states which are imposed on citizens of Palestine who hold a passport issued by the Palestinian Authority. As of  2025, Palestinian citizens had visa-free or visa on arrival access to 40 countries and territories, ranking the Palestinian passport 100th in terms of travel freedom according to the Henley Passport Index. on the other hand its ranked 89th based on Global Passport Power Rank.
As of 16 June 2023, the  Palestinian Authority started issuing biometric passports, containing the same information as the previous non-biometric passport with the exception of the nationality which says PALESTINIAN/فلسطيني, and removed the occupation of the bearer.
Palestinian passport holders that have visas or residency permits issued by Australia, Canada, GCC courtiers, Schengen Area ,United Kingdom, United States might help in granting them the ability to apply for electronic visa (e-Visa) and / or visa on arrival to some countries.

# References

[1] https://www.henleyglobal.com/passport-index/ranking
[2] https://www.passportindex.org/byRank.php
[3] http://mfa.gov.af/en/page/consular-affairs/visa-information
[4] http://www.punetejashtme.gov.al/en/services/consular-services/visa-regime-for-foreign-citizens
[5] https://e-visa.al
[6] https://punetejashtme.gov.al/en/regjimi-i-vizave-per-te-huajt/
[7] [ERROR retrieving ref link]
[8] https://www.emirates.com/english/before-you-fly/visa-passport-information/visa-passport-information-results/?widgetheader=visa&nationality=ps&destination=dz
[9] https://www.exteriors.ad/en/travel-to-andorra
[10] https://www.emirates.com/english/before-you-fly/visa-passport-information/visa-passport-information-results/?widgetheader=visa&nationality=ps&destination=ad
[11] [ERROR retrieving ref link]
[12] https://www.smevisa.gov.ao/
[13] http://www.immigration.gov.ag/visa-services/countries-exempt-from-visa/
[14] https://evisa.immigration.gov.ag/agEvisa-app/
[15] http://www.migraciones.gov.ar/accesible/indexA.php?visas
[16] http://www.mfa.am/en/visa/
[17] https://www.homeaffairs.gov.au/Trav/Visi/Visi
[18] http://www.border.gov.au/Trav/Visa-1/600-/Visitor-e600-visa-online-applications
[19] https://www.bmeia.gv.at/en/travel-stay/entry-and-residence-in-austria/entry-and-visa/schengen-visa/
[20] http://mfa.gov.az/content/189
[21] https://dubai.mfa.gov.az/en/content/54/important-information-for-uae-residents
[22] https://mofa.gov.bs/evisa-online-services/
[23] https://mofa.gov.bs/evisa-online-services/
[24] https://www.evisa.gov.bh/VisaBhr1En.html
[25] https://www.evisa.gov.bh/
[26] [ERROR retrieving ref link]
[27] https://www.foreign.gov.bb/wp-content/uploads/2020/08/Barbados-Visa-Requirements-and-Reciprocal-Arrangements-Amended-July-1-2020.pdf
[28] http://mfa.gov.by/en/visa/
[29] https://diplomatie.belgium.be/en/services/travel_to_belgium/visa_for_belgium
[30] https://immigration.gov.bz/visa/visa-who-qualify/
[31] https://immigration.gov.bz/visa/visa-who-qualify/
[32] http://www.dei-benin.com/visa.php
[33] https://evisa.bj/
[34] http://www.tourism.gov.bt/plan/visa
[35] https://immi.gov.bt/home/
[36] http://www.migracion.gob.bo/upload/emergente.pdf
[37] http://www.mfa.gov.ba/konzularne_informacije/vize/Default.aspx
[38] http://www.gov.bw/en/Ministries--Authorities/Ministries/Ministry-of-Labour--Home-Affairs-MLHA/Tools--Services/Services--Forms/Requirements-for-VISA-application/
[39] https://evisa.gov.bw
[40] http://www.portalconsular.itamaraty.gov.br/vistos-para-viajar-ao-brasil
[41] http://www.mofat.gov.bn/Pages/Visa-Information.aspx
[42] http://www.mfa.bg/en/pages/109/index.html
[43] [ERROR retrieving ref link]
[44] https://applicant.visaburkina.bf/#/
[45] [ERROR retrieving ref link]
[46] https://migration.gov.bi/
[47] [ERROR retrieving ref link]
[48] https://www.evisa.gov.kh/
[49] [ERROR retrieving ref link]
[50] https://www.evisacam.com/ords/dl_portal/r/public_portal/home
[51] http://www.cic.gc.ca/english/visit/visas-result.asp?country=PS&result=1&q2=no&q3=
[52] https://www.canada.ca/en/immigration-refugees-citizenship/services/visit-canada/entry-requirements-country.html#visaExempt
[53] [ERROR retrieving ref link]
[54] https://www.ease.gov.cv/
[55] [ERROR retrieving ref link]
[56] [ERROR retrieving ref link]
[57] https://evisa.td/
[58] http://www.minrel.gob.cl/minrel/site/artic/20111115/asocfile/20111115155753/cuadro_de_visas__web_versio__n__15_jun_16_1_.pdf
[59] https://tramites.minrel.gov.cl/
[60] [ERROR retrieving ref link]
[61] https://www.immd.gov.hk/eng/online-services/index.html#evisa
[62] [ERROR retrieving ref link]
[63] https://tramitesmre.cancilleria.gov.co/tramites/enlinea/solicitarVisa.xhtml
[64] [ERROR retrieving ref link]
[65] [ERROR retrieving ref link]
[66] [ERROR retrieving ref link]
[67] https://evisa.gouv.cd
[68] [ERROR retrieving ref link]
[69] [ERROR retrieving ref link]
[70] https://snedai.com/e-visa/
[71] http://www.mvep.hr/en/consular-information/visas/visa-requirements-overview/
[72] [ERROR retrieving ref link]
[73] https://evisacuba.cu/en/inicio
[74] http://www.mfa.gov.cy/mfa/mfa2016.nsf/All/0E03E0EE9B9833EAC2258022003F023B?OpenDocument
[75] http://www.mzv.cz/jnp/en/information_for_aliens/short_stay_visa/list_of_states_whose_citizens_are_exempt/index.html
[76] https://www.nyidanmark.dk/en-GB/Words-and-concepts/US/Visum/Countries-with-a-visa-requirement-and-visa-free-countries
[77] [ERROR retrieving ref link]
[78] https://www.evisa.gouv.dj/
[79] [ERROR retrieving ref link]
[80] [ERROR retrieving ref link]
[81] [ERROR retrieving ref link]
[82] [ERROR retrieving ref link]
[83] https://www.emirates.com/english/before-you-fly/visa-passport-information/visa-passport-information-results/?widgetheader=visa&nationality=ps&destination=eg
[84] [ERROR retrieving ref link]
[85] https://elsalvadorpei.migracion.gob.sv/en
[86] [ERROR retrieving ref link]
[87] https://equatorialguinea-evisa.com/
[88] [ERROR retrieving ref link]
[89] https://vm.ee/en/who-does-not-need-visa-visit-estonia
[90] [ERROR retrieving ref link]
[91] https://www.evisa.gov.et
[92] [ERROR retrieving ref link]
[93] https://www.immigration.gov.fj/online-application/
[94] http://formin.finland.fi/public/default.aspx?nodeid=15720&contentlan=2
[95] https://www.diplomatie.gouv.fr/en/coming-to-france/getting-a-visa/article/foreign-nationals-holding-ordinary-passports-exempt-from-visa-requirements
[96] https://evisa.dgdi.ga/
[97] [ERROR retrieving ref link]
[98] [ERROR retrieving ref link]
[99] https://www.auswaertiges-amt.de/en/einreiseundaufenthalt/visabestimmungen-node/staatenlistevisumpflicht-node
[100] [ERROR retrieving ref link]
[101] https://visasnews.com/en/ghana-visa-on-arrival-available-again/
[102] http://www.mfa.gr/en/visas/visas-for-foreigners-traveling-to-greece/countries-requiring-or-not-requiring-visa.html
[103] [ERROR retrieving ref link]
[104] [ERROR retrieving ref link]
[105] [ERROR retrieving ref link]
[106] https://www.paf.gov.gn/visa
[107] [ERROR retrieving ref link]
[108] [ERROR retrieving ref link]
[109] https://eservices.iss.gov.gy/
[110] [ERROR retrieving ref link]
[111] [ERROR retrieving ref link]
[112] http://konzuliszolgalat.kormany.hu/visa-waiver-agreements
[113] http://www.utl.is/index.php/en/who-does-not-need-a-visa
[114] https://indianvisaonline.gov.in/visa/tvoa.html
[117] [ERROR retrieving ref link]
[118] https://indianvisaonline.gov.in/evisa/tvoa.html
[119] [ERROR retrieving ref link]
[120] https://evisa.imigrasi.go.id/
[121] [ERROR retrieving ref link]
[122] https://evisa.mfa.ir
[123] http://www.tehrantimes.com/index_View.asp?code=248428
[124] [ERROR retrieving ref link]
[125] https://evisa.iq/
[126] https://visit.gov.krd/
[127] http://inis.gov.ie/en/INIS/Pages/visa-required-countries
[128] https://www.visas.inis.gov.ie/AVATS/OnlineHome.aspx
[129] http://mfa.gov.il/MFA/ConsularServices/Documents/VisaRequirements-Tourists.pdf
[130] http://www.gisha.org/UserFiles/File/LegalDocuments/procedures/general/50en.pdf
[131] http://vistoperitalia.esteri.it/home/en
[132] [ERROR retrieving ref link]
[133] [ERROR retrieving ref link]
[134] https://www.mofa.go.jp/j_info/visit/visa/visaonline.html
[135] https://www.evisa.mofa.go.jp/index
[136] [ERROR retrieving ref link]
[137] https://www.haaretz.com/israel-news/.premium.MAGAZINE-jordan-clamps-down-on-palestinian-transit-visas-1.5383654
[138] [ERROR retrieving ref link]
[139] [ERROR retrieving ref link]
[140] https://evisa.go.ke/
[141] https://etakenya.go.ke/en
[142] [ERROR retrieving ref link]
[143] [ERROR retrieving ref link]
[144] [ERROR retrieving ref link]
[145] https://www.visa.go.kr/
[146] [ERROR retrieving ref link]
[147] https://kuwaitvisa.moi.gov.kw/
[148] [ERROR retrieving ref link]
[149] https://evisa.e-gov.kg/index.php
[150] [ERROR retrieving ref link]
[152] https://immigration.gov.la/checkpoints/
[154] https://laoevisa.gov.la/info
[157] https://travel.state.gov/content/travel/en/international-travel/International-Travel-Country-Information-Pages/Laos.html
[158] http://www.mfa.gov.lv/en/consular-information/countries-whose-citizens-may-enter-latvia-without-a-visa
[159] [ERROR retrieving ref link]
[160] http://evisalesotho.com
[161] [ERROR retrieving ref link]
[162] https://www.homeaffairs.gov.ls/e-visa/
[163] [ERROR retrieving ref link]
[164] [ERROR retrieving ref link]
[165] https://evisa.gov.ly/
[166] https://www.llv.li/#/11226/visum
[167] http://keliauk.urm.lt/en/entry-to-lithuania/visas/list-of-countries-whose-citizens-do-not-require-visas-to-enter-the-republic-of-lithuania
[168] http://www.guichet.public.lu/citoyens/en/immigration/moins-3-mois/index.html
[169] [ERROR retrieving ref link]
[170] [ERROR retrieving ref link]
[171] https://evisa.gov.mw/Index
[172] [ERROR retrieving ref link]
[173] [ERROR retrieving ref link]
[174] https://www.emirates.com/english/before-you-fly/visa-passport-information/visa-passport-information-results/?widgetheader=visa&nationality=ps&destination=ml
[175] https://identitymalta.com/who-requires-a-visa/
[176] [ERROR retrieving ref link]
[177] [ERROR retrieving ref link]
[178] https://anrpts.gov.mr/en
[179] [ERROR retrieving ref link]
[180] [ERROR retrieving ref link]
[181] https://www.inm.gob.mx/gobmx/word/index.php/paises-requieren-visa-para-mexico/
[182] [ERROR retrieving ref link]
[183] [ERROR retrieving ref link]
[184] https://www.evisa.gov.md
[185] https://mfa.gov.md/en/content/visa-regime-foreigners
[186] http://www.visitmonaco.com/us/Plan-your-stay/Before-you-leave
[187] [ERROR retrieving ref link]
[188] [ERROR retrieving ref link]
[189] https://www.gov.me/en/documents/6a307959-1d00-467e-a2fd-0e808d17ff47
[190] [ERROR retrieving ref link]
[191] [ERROR retrieving ref link]
[192] https://evisa.gov.mz
[193] [ERROR retrieving ref link]
[194] [ERROR retrieving ref link]
[195] https://eservices.mhaiss.gov.na/
[196] [ERROR retrieving ref link]
[197] [ERROR retrieving ref link]
[198] https://nepaliport.immigration.gov.np/
[199] https://www.netherlandsandyou.nl/travel-and-residence/visas-for-the-netherlands/short-stay-schengen-visa
[200] [ERROR retrieving ref link]
[201] https://www.immigration.govt.nz/opsmanual/#46160.htm
[202] https://www.immigration.govt.nz/new-zealand-visas/apply-for-a-visa/visa-factsheet/australian-resident-visa
[203] [ERROR retrieving ref link]
[204] [ERROR retrieving ref link]
[205] [ERROR retrieving ref link]
[206] https://visa.immigration.gov.ng/
[207] [ERROR retrieving ref link]
[208] https://www.udi.no/en/word-definitions/persons-who-do-not-need-a-visa-to-visit-norway-/
[209] [ERROR retrieving ref link]
[210] https://evisa.rop.gov.om/#
[211] [ERROR retrieving ref link]
[212] https://visa.nadra.gov.pk/
[213] [ERROR retrieving ref link]
[214] [ERROR retrieving ref link]
[215] https://www.embassyofpanama.org/visas-1
[216] [ERROR retrieving ref link]
[217] https://evisa.ica.gov.pg/evisa/account/Apply
[218] [ERROR retrieving ref link]
[219] [ERROR retrieving ref link]
[220] [ERROR retrieving ref link]
[221] https://evisa.gov.ph/
[222] http://www.msz.gov.pl/en/travel_to_poland/entering_poland/visa_free/visa_free_countries
[223] http://www.secomunidades.pt/vistos/index.php?option=com_content&view=article&id=215%3Anacionalidades-com-obrigatoriedade-de-visto&catid=39&Itemid=97&lang=en
[224] [ERROR retrieving ref link]
[225] https://visitqatar.com/intl-en/plan-your-trip/visas
[226] https://hayya.qa/
[227] https://www.mae.ro/en/node/2040
[228] [ERROR retrieving ref link]
[229] [ERROR retrieving ref link]
[230] https://irembo.gov.rw/home/citizen/all_services
[231] https://www.migration.gov.rw/visa/visitors-visa
[232] https://web.archive.org/web/20120321063044/https://evisa.gov.kn/evisa-prod/
[233] https://evisa.stkittsnevisonline.com/ng-kn-evisa/indexlist
[234] [ERROR retrieving ref link]
[235] [ERROR retrieving ref link]
[236] [ERROR retrieving ref link]
[237] http://www.visitsanmarino.com/on-line/en/home/discover/border-formalities.html
[238] [ERROR retrieving ref link]
[239] http://www.smf.st/evisa/index.php
[240] [ERROR retrieving ref link]
[241] [ERROR retrieving ref link]
[242] [ERROR retrieving ref link]
[243] https://www.mfa.gov.rs/en/citizens/travel-serbia/visa-requirements
[244] [ERROR retrieving ref link]
[245] https://seychelles.govtas.com/en
[246] [ERROR retrieving ref link]
[247] https://evisa.sl/#/home
[248] [ERROR retrieving ref link]
[249] https://www.ica.gov.sg/enter-transit-depart/entering-singapore/visa_requirements
[250] https://www.mzv.sk/web/en/consular_info
[251] http://www.mzz.gov.si/en/entry_and_residence/visa_regimes_and_visas/
[252] https://www.gov.si/en/registries/services/electronic-visa-application-form/
[253] [ERROR retrieving ref link]
[254] [ERROR retrieving ref link]
[255] https://evisa.gov.so/
[256] [ERROR retrieving ref link]
[257] https://www.dha.gov.za/index.php/immigration-services/exempt-countries
[258] https://www.evisa.gov.ss/eligibility
[259] https://www.evisa.gov.ss/
[260] https://www.evisa.gov.ss/
[261] http://www.exteriores.gob.es/Portal/en/ServiciosAlCiudadano/InformacionParaExtranjeros/Paginas/RequisitosDeEntrada.aspx
[262] [ERROR retrieving ref link]
[263] https://www.emirates.com/english/before-you-fly/visa-passport-information
[264] http://www.eta.gov.lk/slvisa/
[265] [ERROR retrieving ref link]
[266] [ERROR retrieving ref link]
[267] https://suriname.vfsevisa.com/suriname/online/home/index
[268] http://www.government.se/government-policy/migration-and-asylum/list-of-foreign-citizens-who-require-visa-for-entry-into-sweden/
[269] https://www.sem.admin.ch/dam/data/sem/rechtsgrundlagen/weisungen/visa/bfm/bfm-anh01-liste1-e.pdf
[270] [ERROR retrieving ref link]
[271] [ERROR retrieving ref link]
[272] https://www.evisa.tj/index.evisa.html#/
[273] [ERROR retrieving ref link]
[274] https://visa.immigration.go.tz/
[275] [ERROR retrieving ref link]
[276] https://www.thaievisa.go.th/
[277] [ERROR retrieving ref link]
[278] [ERROR retrieving ref link]
[279] https://voyage.gouv.tg/
[280] [ERROR retrieving ref link]
[281] [ERROR retrieving ref link]
[282] https://nationalsecurity.gov.tt/divisions/immigrationdivision/evisa-online/
[283] [ERROR retrieving ref link]
[284] [ERROR retrieving ref link]
[285] https://www.evisa.gov.tr/en/
[286] https://www.mfa.gov.tr/visa-information-for-foreigners.en.mfa
[287] [ERROR retrieving ref link]
[288] https://uae.tmembassy.gov.tm/en/consular-services/practical-information-on-procedure-to-obtain-turkmenistan-entry-visa
[289] [ERROR retrieving ref link]
[290] [ERROR retrieving ref link]
[291] https://visas.immigration.go.ug
[292] [ERROR retrieving ref link]
[293] [ERROR retrieving ref link]
[294] https://smart.gdrfad.gov.ae/HomePage.aspx
[295] https://www.gov.uk/government/publications/uk-visa-requirements-list-for-carriers
[296] https://travel.state.gov/content/travel/en/us-visas/tourism-visit/travel-without-a-visa.html
[297] https://web.archive.org/web/20110811014004/http://www.unhcr.org/refworld/pdfid/402d150c4.pdf
[298] https://ceac.state.gov/genniv/
[299] [ERROR retrieving ref link]
[300] [ERROR retrieving ref link]
[301] https://e-visa.gov.uz/main
[302] [ERROR retrieving ref link]
[303] https://immigration.gov.vu/
[304] [ERROR retrieving ref link]
[305] [ERROR retrieving ref link]
[306] [ERROR retrieving ref link]
[307] https://evisa.gov.vn/
[308] [ERROR retrieving ref link]
[309] [ERROR retrieving ref link]
[310] https://eservices.zambiaimmigration.gov.zm/#/home
[311] [ERROR retrieving ref link]
[312] https://www.evisa.gov.zw/
[115] [ERROR retrieving ref link]
[116] [ERROR retrieving ref link]
[151] [ERROR retrieving ref link]
[153] [ERROR retrieving ref link]
[155] [ERROR retrieving ref link]
[156] [ERROR retrieving ref link]
